.jumbotron {
    background: url("../assets/merlin_148630314_4eca699a-e353-4dd5-9607-2f56c0a61674-articleLarge.jpg") no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 600px;
}