:root {
    --red: #ffffff;
    --purple: #F333FF;
    --green: #5c7658;
    --white: #F1F1F1;
    --black: #222831;
    --orange: #d65a31;
    --yellow: #ffe837;
    --maroon: #99235c;
    --blue: #10316b;
    --violet: #970690;

    --font-one: 'Nova Script', cursive; 
}